@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  width: 100vw;
}

.box {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1),
    0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1),
    0 16px 32px rgba(0, 0, 0, 0.1), 0 32px 64px rgba(0, 0, 0, 0.1);
}
.thinBox {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0), 0 2px 4px rgba(0, 0, 0, 0),
    0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.032),
    0 16px 32px rgba(0, 0, 0, 0.063), 0 32px 64px rgba(0, 0, 0, 0.054);
}
.whiteBox {
  box-shadow: 0 1px 2px rgba(255, 255, 255, 0.969),
    0 2px 4px rgba(255, 255, 255, 0.593), 0 4px 8px rgba(255, 255, 255, 0.538),
    0 8px 16px rgba(255, 255, 255, 0.873),
    0 16px 32px rgba(255, 255, 255, 0.843),
    0 32px 64px rgba(255, 255, 255, 0.863);
}

.redBorder {
  border-bottom: 1.5px solid rgb(176, 64, 64);
}

@keyframes breathing {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.breathing-animation {
  animation: breathing 2s infinite;
}

/* global.css or a specific CSS module */
.quote-grid {
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  margin-top: 20px;
  justify-content: center;
}

.quote-card {
  background: #fff;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* global.css or a specific CSS module */
.chart-container {
  position: relative;
  width: 100%;
  max-width: 800px; /* Adjust this value as needed */
  height: 400px; /* Adjust this value as needed */
  margin: 0 auto;
}

@media (max-width: 768px) {
  .chart-container {
    max-width: 100%;
    height: auto;
  }
}
